.gridder {
  padding: 0;
  margin: 0;
  font-size: 0;
  list-style-type: none;
  margin-top:80px;
}
.gridder-list,
.gridder-show {
  font-size: 16px;
}
.gridder-navigation {
  display: none;
}
.gridder-list {
  display: inline-block;
  vertical-align: top;
  padding: 10px;
}
.gridder-show {
  position: relative;
  display: block;
  float: left;
  width: 100%;
}
.gridder-content {
  display: none;
}
.gridder-list {
  width: 25%;
  position:relative;
}

.gridder-list img {
  width: 100%;
}

/* Position play button and chevron arrow */
.gridder-og-play{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.gridder-list .fa-chevron-down {
  font-size: 2.5em !important;
  bottom:8px;
  left:50%;
  transform:translateX(-50%);
  position:absolute;
}

/* Set initial color on play button and chevron (invisible, low opacity) */
.gridder-list .gridder-og-play,
.gridder-list .fa-chevron-down {
  opacity: 0;
  transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  -webkit-transition: all 0.55s ease-in-out;
  font-size: 3.5em;
  color: rgba(255, 255, 255, 0.5);
}

/* Font awesome icon needs it's own transition rules */
.gridder-list .fa-play-circle-o{
  transition: all 0.55s ease-in-out;
  -moz-transition: all 0.55s ease-in-out;
  -webkit-transition: all 0.55s ease-in-out;
}

/* First some effects happen to OTHER elements when we hover over any grid item in the list */
.gridder-list:hover .gridder-og-play{
  font-size: 3.5em !important;
  opacity: 1;
}

/* Both the play circle and the chevron start off a slightly opaque white */
.gridder-list:hover .fa-play-circle-o,
.gridder-list:hover .fa-chevron-down{
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

/* CHANGE COLOUR HERE TO CHANGE THE COLOUR ON THE PLAY BUTTON WHEN YOU HOVER OVER IT */
.gridder-list:hover .fa-play-circle-o:hover {
  color: rgba(48, 152, 100, 0.7);
  cursor: pointer;
}
/* CHANGE COLOUR HERE TO CHANGE THE COLOUR ON THE CHEVRON DOWN WHEN YOU HOVER OVER IT */
.gridder-list:hover .fa-chevron-down:hover {
  color: rgba(0, 46, 100, 0.7);
  cursor: pointer;
}
.gridder-list:nth-of-type(6n) {
  margin-right: 0;
  margin-bottom: 0;
}

.og-expander-inner {
  position: relative;
  overflow: hidden;

}
/*
.og-fullimg {
    position: relative;
    text-align: center;
    float: left;
    width: 100%;
    overflow: hidden;
}
*/
.og-fullimg .channel-poster {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    min-height: 500px;

    &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: red url('http://placehold.it/900x506');
  }
}
@media (max-width: 1100px) {
  .gridder-list {
    width: 33.33%;
  }
}
@media (max-width: 868px) {
  .gridder-list {
    width: 50%;
  }
}
@media (max-width: 560px) {
  .gridder-list {
    width: 100%;
  }
  .og-fullimg .channel-poster {
    visibility: hidden;
    min-height: 200px;
  }
}
