
/* STRUCTURAL STYLES */

.ds-player-togglemode {
    z-index: 1000;
    position: absolute;
    right: 5%;
    width: 50px;
    height: 50px;
    top: -10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    display:none;
}

.ds-playlist-theater-mode {
	padding-top:20px;
	width:100%;
}

.ds-player-togglemode i {
	margin-left:25%;
	margin-top:25%;
}

.ds-vid-playlist {
	position:absolute; 
	z-index:-100;
}

.active-playlist {
	position:relative;
	z-index:5;
}


.carousel-tooltip {
	position:absolute;
	z-index:20000;
	padding:5px;
	display:none;
	text-align: center;
}

.ds-playlist-standard-mode {
	overflow-y:auto;
	overflow-x:hidden;
	padding:0;
}

.ds-playlist-standard-mode label {
	margin-top:5px;
  padding-bottom: 4px;
  width: 100%;
}

.ds-playlist-standard-mode ul {
	padding:0;
	margin:0;
}

.ds-playlist-standard-mode ul > li {
	list-style-type:none;
}

.ds-playlist-standard-mode .playlist-item {
	position:relative;
	float:left;
	margin-bottom:10px;
	width:100%;
	padding:5px;
}

.ds-playlist-standard-mode .playlist-img {
	width:33%;
	position:relative;
	float:left;
	margin-right:5px;
}

.ds-playlist-standard-mode .playlist-info {
	width:65%;
	position:relative;
	float:left;
}

.ds-playlist-standard-mode .playlist-img img {
	width:100%;
	height:auto;
}	

.ds-playlist-standard-mode .playlist-desc {
	font-weight:normal;
	font-size:1.1rem;
}


/* STYLING OPTIONS */

.ds-playlist-standard-mode {
	background-color:#000;
}


.ds-player-togglemode {
	  border: 1px solid #c0c0c0;
    background: black;	
}

.ds-player-togglemode i {
	color:white;
}	

.ds-playlist-standard-mode label {
		font-weight: normal;
    color: #fff;
    font-size: 1.2rem;
    border-bottom: 1px solid #fff;
}
.ds-playlist-standard-mode .playlist-item {
	border-bottom:1px solid #505050;
}
.ds-playlist-standard-mode .playlist-item:hover {
	background-color:#202020;
}

.ds-playlist-standard-mode .playlist-title {
    color: #FFF;
    font-size: 2.0rem;
    font-weight: normal;
}

.ds-playlist-theater-mode label {
	color: white;
}

.ds-playlist-theater-mode {
	padding-left:0!important;
	padding-right:0!important;
}

.ds-playlist-theater-mode-wrapper {
	width:100%;
	/*border-radius:10px;*/
	/*padding:1% 0;*/
	max-height:80px;

}
.ds-playlist-theater-mode .related-videos-carousel {
	/*width:98%;*/
	margin: 0 auto;
	overflow-x:hidden;
}

.carousel-tooltip {
	background-color:#000;
	color: #fff;
	border: 1px solid #c0c0c0;
	border-radius:5px;
}
.owl-thumb {
	opacity: 0.7;
}



@media (max-width: 1000px) {
	.ds-playlist-standard-mode,
	.ds-player-togglemode {
		display:none!important;
	}
	.ds-playlist-theater-mode {
		z-index:1;
		position:relative;
	}
}