/*
video.channel.customization.css

USAGE: use this file to customize the video player, playlist, and channel
page styles

*/


/* STANDARD MODE PLAYLIST SCROLLBAR COLORS */

.ds-playlist-standard-mode::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}
.ds-playlist-standard-mode::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.ds-playlist-standard-mode::-webkit-scrollbar-corner {
  background: transparent;
}

/*  blue (default) */
.ds-playlist-blue::-webkit-scrollbar-thumb {
  background: #002e66;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-blue::-webkit-scrollbar-thumb:hover {
  background: #005bcc;
}
.ds-playlist-blue::-webkit-scrollbar-thumb:active {
  background: #e0e0e0;
}
.ds-playlist-blue::-webkit-scrollbar-track {
  background: #0080ff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-blue::-webkit-scrollbar-track:hover {
  background: #0c30c0;
}
.ds-playlist-blue::-webkit-scrollbar-track:active {
  background: #0080ff;
}

/*  pink */
.ds-playlist-pink::-webkit-scrollbar-thumb {
  background: #ff5bff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-pink::-webkit-scrollbar-thumb:hover{
  background: #ff5bff;
}
.ds-playlist-pink::-webkit-scrollbar-thumb:active {
  background: #e0e0e0;
}
.ds-playlist-pink::-webkit-scrollbar-track {
  background: #ff80ff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-pink::-webkit-scrollbar-track:hover {
  background: #ff30ff;
}
.ds-playlist-pink::-webkit-scrollbar-track:active {
  background: #ff80ff;
}

/*  red */
.ds-playlist-red::-webkit-scrollbar-thumb {
  background: #800101;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-red::-webkit-scrollbar-thumb:hover {
  background: #ff0000;
}
.ds-playlist-red::-webkit-scrollbar-thumb:active {
  background: #e0e0e0;
}
.ds-playlist-red::-webkit-scrollbar-track {
  background: #ff2929;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-red::-webkit-scrollbar-track:hover {
  background: #b20101;
}
.ds-playlist-red::-webkit-scrollbar-track:active {
  background: #ff2929;
}

/*  purple */
.ds-playlist-purple::-webkit-scrollbar-thumb {
  background: #5c015d;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-purple::-webkit-scrollbar-thumb:hover {
  background: #9e12a0;
}
.ds-playlist-purple::-webkit-scrollbar-thumb:active {
  background: #e0e0e0;
}
.ds-playlist-purple::-webkit-scrollbar-track {
  background: #ba2ebc;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-purple::-webkit-scrollbar-track:hover {
  background: #800182;
}
.ds-playlist-purple::-webkit-scrollbar-track:active {
  background: #ba2ebc;
}

/*  orange */
.ds-playlist-orange::-webkit-scrollbar-thumb {
  background: #ff5000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-orange::-webkit-scrollbar-thumb:hover {
  background: #ff5b00;
}
.ds-playlist-orange::-webkit-scrollbar-thumb:active {
  background: #e0e0e0;
}
.ds-playlist-orange::-webkit-scrollbar-track {
  background: #ff8000;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-orange::-webkit-scrollbar-track:hover {
  background: #ff5000;
}
.ds-playlist-orange::-webkit-scrollbar-track:active {
  background: #ff8000;
}

/*  yellow */
.ds-playlist-yellow::-webkit-scrollbar-thumb {
  background: #feab00;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-yellow::-webkit-scrollbar-thumb:hover {
  background: #febd00;
}
.ds-playlist-yellow::-webkit-scrollbar-thumb:active {
  background: #e0e0e0;
}
.ds-playlist-yellow::-webkit-scrollbar-track {
  background: #fecc00;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-yellow::-webkit-scrollbar-track:hover {
  background: #feab00;
}
.ds-playlist-yellow::-webkit-scrollbar-track:active {
  background: #fecc00;
}


/*  green */
.ds-playlist-green::-webkit-scrollbar-thumb {
  background: #014101;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-green::-webkit-scrollbar-thumb:hover {
  background: #018101;
}
.ds-playlist-green::-webkit-scrollbar-thumb:active {
  background: #e0e0e0;
}
.ds-playlist-green::-webkit-scrollbar-track {
  background: #01b101;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.ds-playlist-green::-webkit-scrollbar-track:hover {
  background: #015a01;
}
.ds-playlist-green::-webkit-scrollbar-track:active {
  background: #015a01;
}

.ds-playlist-theater-outer-container {
	margin:15px;
}

.ds-playlist-theater-inner-container {
		clear: both;
		overflow-y:hidden;
		background-color: #fff;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    border-top-left-radius:0;
    display: block;
}


.ds-playlist-theater-outer-container label {
		padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    color: #002E66;
    margin-bottom: 0;
    position: relative;
    top: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
.ds-channel-item-meta h3 {
  margin-bottom: 0;
}


@media (min-width: 1801px) {
  .ds-channel-item-meta span {
    font-size:1.0vw;
  }
  .ds-channel-item-meta h3 {
    font-size: 1.5vw;
  }
}

@media (max-width: 1800px) {
  .ds-channel-item-meta span {
    font-size:1.0vw;
  }
  .ds-channel-item-meta h3 {
    font-size: 2.0vw;
  }
}


@media (max-width: 1375px) {
  .ds-channel-item-meta span {
    font-size:1.5vw;
  }
  .ds-channel-item-meta h3 {
    font-size: 2.0vw;
  }
}


@media (max-width: 1100px) {
  .ds-channel-item-meta span {
    font-size:1.5vw;
  }
  .ds-channel-item-meta h3 {
    font-size: 2.0vw;
  }
}


@media (max-width: 875px) {
  .ds-channel-item-meta span {
    font-size:2.0vw;
  }
  .ds-channel-item-meta h3 {
    font-size: 2.75vw;
  }
}



@media (max-width: 700px) {
  .ds-channel-item-meta span {
    font-size:2.0vw;
  }
  .ds-channel-item-meta h3 {
    font-size: 3.0vw;
  }
}

@media (max-width: 600px) {
  .ds-channel-item-meta span {
    font-size:3.0vw;
  }
  .ds-channel-item-meta h3 {
    font-size: 4.0vw;
  }

	h1.ds-video-headliner-title {
		font-size:18px;
	}
	span.ds-video-headliner-description {
		font-size:14px;
	}

	.ds-metabox .ds-videometalist li {
		font-size:11px;
	}


}

@media (min-width: 600px) and (max-width: 900px) {
	h1.ds-video-headliner-title {
		font-size:28px;
	}
	span.ds-video-headliner-description {
		font-size:18px;
	}

	.ds-metabox .ds-videometalist li {
		font-size:14px;
	}

}



@media(max-width: 1000px) {
	ul.ds-sharepad {
		float:left;
	}
	.ds-sharepad i {
		font-size:14px;
	}
}
