html {
	font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}
body.boxed {
	max-width: 1170px;
	margin: 0 auto;
}
body.boxed .custom-container {
 	max-width: 1140px;
}
a:hover {
	text-decoration: none;
}
:hover, :focus, :visited {
	outline: 0;
	border: 0;
}
.custom-container {
	max-width: $custom-container;
  padding: 0;
}
h2, h3{
	position: relative;
	overflow: hidden;
}
h2:before, h3:before {
    content: "";
    border-left: 2px solid $green;
		margin-right: 50px;
}
.pt-7{
	padding-top: 70px;
}