html {
  max-width: 100%;
  overflow-x: hidden;
}
body {
	font-size: 16px;
}
body.boxed {
	max-width: 1170px;
	margin: 0 auto;
}
body.boxed .custom-container {
 	max-width: 1140px;
}
a:hover {
	text-decoration: none;
}
:hover, :focus, :visited {
	outline: 0;
	border: 0;
}
.custom-container {
	max-width: $custom-container;
  padding: 0;
}
h2, h3{
	position: relative;
	overflow: hidden;
}
h2:before, h3:before {
	content: "";
  border-left: 2px solid $green;
	margin-right: 50px;
}
h3:before {
	margin-right: 30px;
}
.holder > .title-holder > h3:before, .navigation.pagination > .screen-reader-text {
  display: none;
}

.navigation.pagination {
  width: 100%;
}

.holder > .title-holder > h3 {
  text-align: center;
  color: #fff9f9;
}

.nav-links {
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.holder > img {
  filter: brightness(70%);
}

a.page-numbers {
  color: #87b145;
}

.next.page-numbers > .screen-reader-text, .prev.page-numbers > .screen-reader-text {
  color: inherit;
}

@media screen and (max-width: 480px) {
  .page-title {
    text-align: center;
  }
  a.page-numbers:not(.prev):not(.next), .page-numbers.current {
    font-size: 55px;
  }
  a.page-numbers.prev:after, a.page-numbers.next:before {
    content: ' ';
    display: block;
  }
}
.pt-7{
	padding-top: 70px;
}