.channel-teaser {
  display: none;
  height: 85vh !important;
  background-color: $black;
	@include respond-to(tablet-landscape) {
		height: 100% !important;
	}
  .inner-banner-content_bg.channel-teaser-info {
    display: none;
		@include respond-to(tablet-landscape) {
			display: block !important;
			position: relative;
			width: 100%;
		}
		.inner-banner-content {
			@include respond-to(tablet-landscape) {
				position: relative;
				top: 0;
				left: 0;
				transform: inherit;
				-moz-transform: inherit;
				-ms-transform: inherit;
				-o-transform: inherit;
				-webkit-transform: inherit;
				padding: 15px 5%;
			}
		}
  }
  .player {
    height: 100%;
    width: 100%;
    > .DotPlayer {
      height: 100%;
      width: 100%;
    }
  }
}

.v-overlay {
  width: 75%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  margin: 0 auto;
  text-align: center;
  right: 0;
  opacity: 1;
  background-color: rgba(136, 136, 136, 0.2);
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
	@include respond-to(medium-screens) {
		width: 100%;
	}
}

.lock_overlay {
  color: $white;
  top: 50%;
  position: absolute;
  transform: translateY(-15%);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  height: 100%;
  width: 100%;
  i {
    color: $white;
    font-size: 33px;
    display: block;
  }
  .watch_now {
    display: none;
  }
}

.lock-overlay > a {
  display: block;
  height: 100%;
  width: 100%;
}