/* Home Main Slider */
.watch_now {
  @include watch_now;
}
.home-main-slider .slide_content {
	@include rem(padding-bottom, 20px); 
  background: $black;
  .watch_now {
		@include rem(height, 180px);
		@include rem(width, 180px);
		@include rem(margin-top, -180px);
		  a {
				@include rem(height, 180px);
				@include rem(width, 180px);
      	&:after {
					@include rem(border-top, 40px solid transparent);
					@include rem(border-bottom, 40px solid transparent);
					@include rem(border-left, 70px solid $green);
					@include rem(margin-top, 46px);
      	}
    	}
    }
	h2 {
  	color: $white;
  }
  p {
  	color: $white;
		@include rem(padding, 15px 50px); 
		@include rem(font-size, 30px); 
		@include rem(line-height, 30px); 
		@include rem(min-height, 130px); 
  }
}

.other-categories {
  .slide_content p {
    @include rem(font-size, 20px); 
		@include rem(line-height, 22px);
    margin-bottom: 0;
  }
  .watch_now {
		height: 100%;
    width: 100%;
		a {
    	height: 100%;
    	width: 100%;
			&:after {
				@include rem(bottom, 15px); 
				@include rem(left, 16px);
				position: absolute;
			}
		}
  }
}
