/* Home Main Slider */
.watch_now {
    @include watch_now;
}
.home-main-slider .slide_content {
    @include rem(padding-bottom, 20px);
    background: $black;
    .watch_now {
        @include watch_now_big;
        @include media-breakpoint-down(md){
            @include watch_now;
            @include rem(margin-top, -60px);
        }
    }
    h2 {
        color: $white;
        @include media-breakpoint-down(md){
            @include rem(font-size, 40px);
            @include rem(line-height, 50px);
        }
        @include media-breakpoint-only(xs) {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include rem(height, 60px);
        }
    }
    p {
        color: $white;
        @include rem(padding, 15px 50px);
        @include rem(font-size, 30px);
        @include rem(line-height, 30px);
        @include rem(min-height, 130px);
        @include media-breakpoint-down(md){
            @include rem(font-size, 20px);
            @include rem(line-height, 20px);
            @include rem(min-height, 80px);
        }
    }
}

/* Other-categories -- this appears in multiple templates and should be global */
.other-categories {
    h3 a{
        &:hover{
            color: $green;
        }
    }
    .slide_content {
        h4 {
            @include rem(min-height, 88px);
        }
        p {
            @include rem(font-size, 20px);
            @include rem(line-height, 22px);
            margin-bottom: 0;
            @include rem(min-height, 100px);
        }
    }
    .watch_now {
        height: 100%;
        width: 100%;
        background: transparent;
        a {
            height: 100%;
            width: 100%;
            &:after {
                @include rem(bottom, 15px);
                @include rem(left, 16px);
                position: absolute;
            }
            span{
                display: block;
                @include rem(height, 60px);
                @include rem(width, 60px);
                position: absolute;
                bottom: 0;
                background: $black;
            }
        }
    }
    .slick-slide {
        margin: 0 8px;
        &:hover h4 {
            color: $green;
        }
    }
    .slick-track {
        margin: 0;
    }
    .slick-list {
        margin: 0 -5px;
    }
    .slick-arrow {
        @include rem(top, -70px);
        background: $black;
        @include rem(width, 50px);
        @include rem(height, 50px);
        &.slick-prev {
            @include rem(right, 70px);
            left: inherit;
            &:hover {
                background: $green;
            }
            @include media-breakpoint-only(xs) {
                left: 3px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        &.slick-next {
            @include rem(right, 0px);
            &:hover {
                background: $green;
            }
            @include media-breakpoint-only(xs) {
                top: 50%;
                transform: translateY(-50%);
                right: 2px;
            }
        }
    }
    .slick-prev:before, .slick-next:before {
        font-family: 'Font Awesome 5 Pro';
        font-display: $font-display;
        font-weight: 300;
        color: $white;
        @include rem(font-size, 45px);
        @include rem(line-height, 41px);
        opacity: 1;
    }
    .slick-prev:before {
        content: "\f104";
    }
    .slick-next:before {
        content: "\f105";
    }
    .slide-text-dec {
        .slick-arrow {
            &.slick-prev {
                @include media-breakpoint-only(xs) {
                    top: 30%;
                }
            }
            &.slick-next {
                @include media-breakpoint-only(xs) {
                    top: 30%;
                }
            }
        }
    }
		.slide-text {
        .slick-arrow {
            &.slick-prev {
                @include media-breakpoint-only(xs) {
                    top: 40%;
                }
            }
            &.slick-next {
                @include media-breakpoint-only(xs) {
                    top: 40%;
                }
            }
        }
    }
}

/* Lock Icon css */
.locked-channel {
    color: #fff;
    position: absolute;
    z-index: 99;
    right: 10px;
    bottom: 10px;
    font-size: 21px !important;
    text-shadow: -1px -1px 10px #555, 1px -1px 10px #555, -1px 1px 10px #555, 1px 1px 10px #555;
}

/* Return to Top */
#return-to-top {
    @include return-to-top;
}

/* Video Thumb Page */

/* .holder, .chnl-bg {
    position: relative;
}

.holder img, .chnl-bg img, .channel-banner img {
    width: 100%;
    height: auto;
} */


