header {
	@include rem(height, 144px);
	@include rem(padding-top, 28px);
  position: relative;
	.fixed-top {
    max-width: 90vw;
    top: inherit;
    right: inherit;
    left: inherit;
    z-index: 9999;
    width: 100%;
	}
  &.left-logo-header {
    .site-branding {
      width: $header-left;
			@include media-breakpoint-down(md){
			width: inherit;
			}
    }
    .main-navigation {
      width: $header-right;
      @include rem(padding-top, 32px);
    }
  }
}
.padding-fixed-left{
	@include rem(padding-top, 144px);
}

.main-navigation .navbar-nav {
  display: inline-block;
  float: left;
  > li {
    float: left;
		position: static;
		@include rem(line-height, 30px);
		&:after {
      content: "";
      border-right: 2px solid $light-gray;
    }
		&:last-child:after {
      border: 0;
    }
    &.current-menu-item a {
      color: $green;
    }
    a {
			@include rem(font-size, 28px);
      color: $white;
      font-family: $font-family-Roboto;
			@include rem(margin, 35px);
      text-transform: uppercase;
			@include rem(padding-bottom, 32px);
			&:hover {
        color: $green;
    	}
    }
		&:first-of-type a{
      margin-left: 0;
    }
		&.dropdown:hover .dropdown-menu {
      display: block;
      left: 0;
			@include rem(top, 105px);
      width: 100%;
      max-width: $custom-container;
      right: 0;
      margin: 0 auto;
    	background: $black-2;
			border: 0;
			@include rem(padding, 15px 0);
      > li {
        float: left;
				> a {
          display: flex;
          font-size: 1.25rem;
          padding: 0;
					@include rem(margin, 16px);
        }
      }
    }
  }
}

/* fixed header */
header.fixed-top.small-header {
  @include rem(height, 110px);
  padding-top: 1em;
  .site-logo img {
		@include rem(height, 62px);
  }
  &.left-logo-header .main-navigation {
		@include rem(padding-top, 32px);
  }
  .main-navigation .navbar-nav > li.dropdown:hover .dropdown-menu {
		@include rem(top, 94px);
  }
  &.center-logo-header {
		@include rem(height, 180px);
		@include rem(padding-top, 16px);
    .main-navigation .navbar-nav > li.dropdown:hover .dropdown-menu {
			@include rem(top, 150px);
    }
  }
}

/* center */

header.center-logo-header {
	@include rem(height, 210px);
	.navbar {
		display: block;
	}
  .main-navigation .navbar-nav > li.dropdown:hover .dropdown-menu {
    @include rem(top, 170px); 
  }
  &.small-sub-nav .main-navigation .navbar-nav > li.dropdown .dropdown-menu {
    max-width: 450px;
    left: inherit;
    right: inherit;
    li {
      float: left;
      width: 50%;
    }
  }
}

.padding-fixed-center {
	@include rem(padding-top, 210px);
}

.navbar-toggler-icon {
    background: url(../img/hamburger-menu.png) no-repeat;
    width: 40px;
    height: 26px;
    background-size: contain;
}

@media screen and (max-width: 767px) {
  .dropdown-menu > li {
    display: block;
  }
}