.holder h3 {
    @include center-text;
    color: $white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.7);
    padding: 0;
    @include rem(font-size, 38px);
		@include rem(line-height, 38px);
    width: 80%;
    &:before {
        display: none;
    }
}