.searchform {
  width: 25%;

  @include media-breakpoint-down(lg) {
    width: 200px;
  }

  @include media-breakpoint-down(md) {
    width: 85%;
    @include rem(padding, 15px 25px);
    clear: both;
    display: inline-block;
    @include rem(margin-top, 1px);
    position: absolute;
    right: 10%;
    top: 0;
  }

  @include media-breakpoint-down(xs) {
    right: 15%;
  }
}

.center-header .searchform {
  @include rem(padding-top, 0);

  @include media-breakpoint-down(md) {
    @include rem(padding-top, 15px);
  }
}

.sb-search {
  position: relative;
  width: 0%;
  @include rem(min-width, 50px);
  @include rem(height, 50px);
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;

  .sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    width: 80%;
    @include rem(height, 50px);
    margin: 0;
    z-index: 10;
    @include rem(padding, 10px 40px 10px 10px);
    font-family: inherit;
    font-display: $font-display;
    font-size: 20px;
    color: $white;
    background: transparent;
  }

  .sb-icon-search {
    @include rem(width, 50px);
    @include rem(height, 50px);
    @include rem(padding-left, 10px);
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  .sb-search-submit {
    @include rem(width, 40px);
    @include rem(height, 39px);
    position: absolute;
    right: 0;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    /* IE 8 */
    filter: alpha(opacity=0);
    /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
  }

  .sb-icon-search {
    color: $white;
    z-index: 90;
    @include rem(font-size, 35px);
    @include rem(line-height, 50px);
  }

  &.sb-search-open {
    width: 100%;
  }
}

/* Open state */

.no-js .sb-search {
  width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
  color: $white;
  z-index: 11;
}

.sb-search.sb-search-open {
  .sb-search-input {
    border-bottom: 2px solid $green;
  }

  .sb-search-submit {
    z-index: 90;
  }
}

.no-js .sb-search .sb-search-submit {
  z-index: 90;
}

input:-webkit-autofill {
  @include input-autofill;

  &:hover,
  &:focus textarea:-webkit-autofill {
    @include input-autofill;
  }
}

textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
  @include input-autofill;
}

select:-webkit-autofill {
  @include input-autofill;

  &:hover,
  &:focus {
    @include input-autofill;
  }
}

/* Autocomplete Suggestion */

body.stickey-nav .autocomplete-suggestions {
  position: fixed;
}

.autocomplete-suggestions {
  border: 0;
  z-index: 999999;
  width: 100% !important;
  left: 0 !important;
  height: calc(100vh - 7rem) !important;
  overflow-y: scroll;
  max-height: inherit;
  padding: 3% 5%;
  background: $light-gray1;
  @include rem(top, 110px !important);

  .information-top {
    h5 {
      float: left;
      font-weight: 700;
    }

    ul {
      li {
        float: left;
        list-style: none;
        margin: 0;
        font-size: 1.2rem;

        a {
          color: $black;
          margin: 0 15px;
        }

        &:after {
          content: "|";
          color: #555;
        }
      }
    }
  }

  .add-opacity {
    opacity: 0.5;
  }

  .information-top ul li {
    &:last-child:after {
      content: "";
    }

    a:hover {
      color: $green;
    }
  }

  .channl_information a:hover h5 {
    color: $green;
  }

  .suggesion-loading {
    display: none;
    position: absolute;
    top: 45%;
    background: url(../img/loading.gif) no-repeat;
    background-size: contain;
    z-index: 9999;
    height: 50px;
    width: 50px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
  }

  .channl_information img {
    width: 100%;
  }
}

.center-header .autocomplete-suggestions {
  @include rem(top, 150px !important);
  height: calc(100vh - 9.4rem) !important;

  @include media-breakpoint-down(md) {
    @include rem(top, 150px !important);
  }
}

/* search result mobile */

.search-textbox {
  padding: 10px;
  font-size: 17px;
  border: 2px solid $green;
  float: left;
  width: 90%;
  background: #white;

  &:hover,
  &:active,
  &.search-btn:hover {
    border: 2px solid $green;
  }

  .search-btn {
    float: left;
    width: 10%;
    padding: 4px;
    background: $green;
    color: white;
    font-size: 25px;
    border: 2px solid $green;
    border-left: none;
    cursor: pointer;
  }
}

/* search pagination */
.pagination-links {
  padding: 20px 0;

  .nav-links {
    font-size: 22px;

    a {
      padding: 2px 10px 4px;

      &:hover {
        color: $green;
      }
    }
  }

  span.page-numbers.current {
    padding: 2px 10px 4px;
    background: $green;
    color: $white;
  }
}
