.slick-wrapper {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  &.slick-initialized {
    visibility: visible;
    opacity: 1;
  }
}

.slick-dots {
  top: 100%;
  li {
    button:before {
			@include rem(font-size, 10px); 
      opacity: 0.5;
    }
    &.slick-active button:before {
      opacity: 1;
      color: $green;
    }
  }
}

.slick-prev {
	@include rem(left, 25px);
  z-index: 99;
  top: 35%;
}

.slick-next {
  @include rem(right, 25px);
  z-index: 99;
  top: 35%;
}

.slick-prev:before, .slick-next:before {
  color: $green;
	@include rem(font-size, 35px !important);
}



