.error404 h2{
    padding:0;
}
.error404 h2:before{
    border:0;
}
a.btn.cc-readmore{
    border-radius:0;
    background:#000;
    color:#87b145;
    border:0;
}
a.btn.cc-readmore:hover{
    background:#87b145;
    color:#000;
}
.tooltip_templates { display: none; }

.search-custom-width{
    width:50%;
}

.col-md-2.p-2.channel-banner {
    width: 50%;
}  

.subscribe_now a {
    font-size: 20px;
    text-transform: uppercase;
    padding: 8px 20px;
    border-color: none;
    margin-left: 12px;
}

.subscribe_now.mt-3 p {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    padding: 8px 20px;
}

.btn-primary {
    background-color: #87b145 !important;
    border: none !important;
    color: #fff !important;
}

.v-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.v-overlay {
    opacity: 1;
    background-color: rgba(0,0,0, 0.5);
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#return-to-top:hover i {top: -21px !important;}

.my_list_button button i, .my_list_button a i, .manage_my_list i{
    color: #fff;
    margin-right: 5px}

.lock_overlay {
    color: #fff;
    top: 50%;
    position: relative;
    transform: translateY(-50%);
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.lock_overlay i{
    color: #fff;
    font-size: 33px;
    display: block;
}

.lock_overlay .watch_now {
    display: none;
}

#a0LoginButton{
    display: none;
}
