.slick-prev {
    left: 25px!important;
    z-index: 9999;
    top: 35%;
}
.slick-next {
    right: 25px!important;
    z-index: 9999;
    top: 35%;
}
.slick-prev:before, .slick-next:before{
    color: #87b145!important;
}
.slick-dots{
    bottom: 25px !important;
}

.slick-wrapper{
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
}
.slick-wrapper.slick-initialized {
    visibility: visible;
    opacity: 1;
}
/*
 * Footer
 */
.other-categories .slick-slide {
    margin: 0 5px;
}
.other-categories .slick-track{
    margin: 0;
}
/* the parent */
.other-categories .slick-list {
    margin: 0 -5px;
}
.other-categories .slick-slide img{
    width: 100%;
}
.holder, .chnl-bg
{
    position:relative;
}
.holder img, .chnl-bg img, .channel-banner img
{
    width: 100%;
    height: auto;
}
.holder h3
{
    margin: 0;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}
.chnl-bg .chnl-content{
    margin: 0;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.tooltip_templates { display: none; }
.video-content-div{
   background: #000;
}
.video-player{
   position: relative;
   padding-top: 60%;
}